@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(152, 153, 155);
  --text-color: #1d1d1f99;
  --nunito-text: "Nunito", serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--nunito-text) !important;
}
/* .custom-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  color: red;
  background: #ffffff66;
  border-radius: 20px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
} */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #ffffff66; /* Light background */
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--primary); /* Better contrast */
  border-radius: 20px;
}
